body{
    margin: 0%;
    padding: 0%;
}

h1{
    background-color: rgb(51, 51, 222);
    color:white;
    text-align: center;
}
ul{
    background-color: black;
}
ul li{
    background-color: antiquewhite;
    display: inline-block;
    padding: 10;
}
 ul li:hover{
    background-color: green;
    color: aliceblue;
    padding-left: 10px;
    transition: 0.1s;
 }