h1 {
    color : grey;

}
p {
    color : rgb(151, 189, 14);
}
body{
background-color: rgb(13, 15, 15);
}

button{
    background-color: rgb(120, 10, 229);
    color: rgb(233, 15, 15);
    padding: 10px 20px;
    border:none;
    border-radius: 60px;
    cursor: pointer;
}